# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
ping/sample/multi_ping/multi_ping
ping/sample/ideal_mem_controller/trace.log
ping/sample/ideal_mem_controller/ideal_mem_controller
ping/sample/core_cache_memory/main
ping/sample/core_cache_memory/core_cache_memory
ping/sample/multi_stage_mem/main
ping/sample/multi_stage_mem
ping/sample/single_core/single_core
ping/sample/single_ping/single_ping
ping/sample/multi_ping/multi_ping



*.sqlite3
.DS_Store
trace.log
*.binary
.vscode/

ping/sample/*/trace.log
ping/sample/*/ideal_mem_controller
ping/sample/*/multi_ping
ping/sample/*/multi_stage_mem
ping/sample/*/single_core
ping/sample/*/core_cache_memory
ping/sample/*/main